.SideBarCompResizeBar {
    display: flex;
    top: 0;
    right: -1.5px;
    width: 3px;
    height: 100%;
    transition-delay: 0.5;
}

.SideBarCompResizeBar:hover {
    width: 5px;
    cursor: ew-resize;
    background-color: #357bcc;
}