.File {
    width: auto;
    background-color: #333;
    border: none;
    color: #ffffffcc;
    text-overflow: ellipsis; /* 텍스트가 넘칠때 (...)로 표시 */
    white-space: nowrap; /* 줄바꿈 방지 */
    display: flex;
    padding-left: 15px;
}

.Info {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.FileIcon {
    width: 16px;
    padding: 0 2px;
}