.File {
    width: 100%;
    background-color: #333;
    border: none;
    color: #ffffffcc;
    overflow: hidden;
    text-overflow: ellipsis; /* 텍스트가 넘칠때 (...)로 표시 */
}

.FileInfo {
    display: block;
    align-items: center;
    flex-direction: row;
    background-color: #333;
    text-overflow: ellipsis; /* 텍스트가 넘칠때 (...)로 표시 */
}

.FileInfo:hover {
    background-color: #111;
}

.FileIcon {
    width: 16px;
    padding: 0 2px;
}
